body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px;
}

aside {
    grid-row: span 3;
    height: 100vh;
}

header, aside, main, footer {
    box-shadow: 0 0 12px 5px #e6e6e6;
    padding: 20px;
}