body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px;
    background-color: #f8f8f8;
}

main {
    margin: 0 30px;
}

main > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

aside {
    grid-row: span 3;
    height: auto;
    min-height: calc(100vh - 100px);
    background-color: #d03630;
    color: white;
}

header, footer {
    background-color: white;
}

@media screen and (max-width: 992px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-column-gap: 15x;
        grid-row-gap: 15px;
        margin: 20px;
    }

    main {
        margin: 0;
    }

    aside {
        grid-row: inherit;
        height: auto;
        min-height: inherit;
        background-color: #d03630;
        color: white;
    }
}

@media screen and (max-width: 1200px) {
    main > section {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    main > section {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

.card {
    border-radius: 8px;
    box-shadow: 0 0 10px 5px #e6e6e6;
    padding: 20px;
}

.pizza {
    background-color: white;
}